$background-color-blue: #1eb7ee;
$background-color-blue-light: #73d2f0;

$color-blue: $background-color-blue;
$color-green: #63c745;
$color-black: #212529;

$border-color-blue: $background-color-blue;
$border-color-green: $color-green;

